.button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin: 20px auto;
  background-color: #befa00;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button:hover {
  opacity: 0.8;
}